In [3]:
import pandas as pd 
import numpy as np

In [4]:
df= pd.read_csv('/home/rajesh/work/dairy_cps/noise.csv')

In [5]:
df

,Variable_Noised,Noise_Level,Detected_Cyber_Anomalies,Detected_Biological_Events,Detected_Normal
0,Milk,0.01,7,255,2100
1,Milk,0.05,5,239,1978
2,Milk,0.10,7,202,2023
3,Milk,0.15,7,230,2139
4,Milk,0.20,6,200,2040
5,RT,0.01,6,241,2199
6,RT,0.05,6,242,2198
7,RT,0.10,7,236,2203
8,RT,0.15,6,234,2206
9,RT,0.20,6,235,2205
10,Water,0.01,6,242,2198
11,Water,0.05,8,241,2197
12,Water,0.10,7,240,2199
13,Water,0.15,6,238,2202
14,Water,0.20,7,236,2203